.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  background-color: green;
  margin-top: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 0.5rem;
}

.contacts > div > svg {
  display: flex;
  color: #fff;
  font-size: 40px;
  padding: 0 10px;
}

div.packageList {
  padding-top: 10px;
  padding-bottom: 5px;
}

.footer-icons {
  display: flex;
}

@media screen and (max-width: 480px) {
  .contacts {
    position: relative;
  }
}
