.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  min-height: 300px;
}

.header-slider {
  font-size: 64px;
}

.description {
  font-size: 32px;
  color: #000;
  font-weight: 600;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 460px;
}

.carousel-slide {
  height: 460px;
}

/* Media query*/

@media screen and (max-width: 480px) {
  .carousel-slide {
    height: auto;
  }
}
